
body{
    margin: 0;
    padding: 0;
    background-image: url(spice.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.logo{
    font-size: 40px ;
    color: white;
    padding-left: 5px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
  
}
.nav{
    position:relative;
}
a{
  padding: 10px;
  color: white;
  font-size:20px;
  text-decoration: none;  
  font-family: "Pacifico", cursive;
  font-weight: 400;
}
a:hover{
    color:yellow;
    text-decoration: underline;
    text-underline-position: under;
}
.heading{
    display: flex;
    justify-content: space-evenly;
    padding-top: 65px;
    align-items: center;
    padding-left: 0%;
}
.right{
    width: 440px;
    height: 440px;
    background-image: url(fried-meat-ribs-with-vegetables-potatoes.jpg);
    background-size: cover;
    border-radius: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right::before{
    width: 430px;
    height: 430px;
    border: 2px solid white;
    content: ' ';
    position: absolute;
    border-radius: 430px;
    padding:10px;
}

.left{
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    font-family: "Ephesis", cursive;
    font-weight: 400;
}
@media screen and (max-width: 600px) {
    body {
        /*background-size: 100% 100%; /* Make background image fill the entire screen */
        background-attachment: fixed;
    }
    .logo {
        font-size: 30px;
        padding-top: 10px;
    }
    .nav{
        padding-top: 10px;
        padding-left: 15px;
    }

    .top {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .heading {
        padding-top: 30px;
    }

    .right {
    display: none; /* Remove the .right div completely */
  
    }

    .left {
        font-size: 30px;
    }

    a {
        font-size: 16px;
    }
}